.header{
    position: relative;
    // min-height: 60vh;
    height: auto;
    overflow: hidden;
}
 /*toogle nav */
    .nav{
        text-align: center;
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
    .nav__btn{
        font-size: 30px;
        color: #C75D72;
       
    }

    .offcanvas-body{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .offcanvas__item{
        padding-top: 40px;
    }
    .offcanvasRightLogo{
        width: 100px;
    }
    .offcanvas__item a{
        text-decoration: none;
        color: #1f222e;
        font-size: 22px;
        display: block;
        margin-bottom: 12px;
        transition: transform 0.3s, color 0.3s;
    }
    .offcanvas__item a:hover{
        transform: scale(0.9);
        color: #675CE9;
    }

    .offcanvas__item h6{
       font-size: 22px;
       padding-top: 10px;
    }

    .offcanvas__item i{
        font-size: 20px;
        color: #675CE9;
        margin-top: 10px;
        padding-top: 10px;
        // line-height: 1.2;
    }
    .nav__button{
       background-color: #675CE9;
       padding: 20px 30px;
       border-radius: 100px;
       border:none;
       color: #fff;
       
    }
/*toogle nav */
.header__tape{
    z-index : -50;
    position: absolute;
    right: 0;
    max-width:50%;
    bottom:0;
}
.header__gradient{
    position: absolute;
    left: 0;
    max-width: 50%;
    z-index : -50;
    bottom: 0;
}

.header__wrapper{
    margin: 0 auto;
    max-width:1200px;
    position: relative;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    padding:120px 0;
    // border: 1px solid black;
    
}

.header__slogan{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #2e3450;
    margin-bottom: 64px;
    // max-width: 900px;
    font-weight: 700;
}
.header__text{
    margin-bottom: 64px;
    max-width: 800px;
    text-align: left;
    font-size: 1.3rem;
}
.header__button{
    // width: 360px;
    height: 80px;
    padding: 0 25px;
    color: #fff;
    background: #675CE9;
    // margin-left: 20px;
    border: none;
    transition: transform 0.4s;
}




.header__buttons{
    display: flex;
    // margin: 0 auto;
    width: fit-content;
}


.main__logo{
    width: 100px;
}

@media (max-width:1200px) {
    .header__wrapper{
        padding:100px 10px;
    
    }
    .header__img {
        max-width: 500px;
        max-height: 500px;
    }
}
/*Meadia start here*/
@media(max-width: 950px){
    .header__wrapper{
        padding: 50px 10px;
    }
    .header__slogan{
        text-align: center;
        font-size: 55px;
    }
    .header__text{
        text-align: center;
        max-width: 100%;
    }
    .header__buttons{
         margin: 0 auto;
    }

   

}



@media(max-width: 500px){
    .header__slogan{
        background: white;
        order: -4;
        font-size: 1.8rem;
        margin-bottom: 40px;
        text-align: left;

    }
    .header__text{
        margin-bottom: 40px;
        background: white;
        order: -2;
        text-align: left;
        font-size: 1rem;
    }
    .header__buttons{
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }
    .header__buttons button{
       margin: 0;
       margin-bottom: 16px;
       width: 100%;
    }
    .header__wrapper{
        justify-content: space-evenly;
        min-height: fit-content;
    }
    .offcanvas__item a{
        margin-bottom: 12px;
    }
    .offcanvas__item a:hover{
        transform: scale(1);
        color: inherit;
    }

}


@keyframes rotate {
    to{
        transform: translate(50%, -50%) rotate(360deg);
    }
}
@keyframes rotate-inverse {
    to{
        transform: translate(50%, -50%) rotate(360deg);
    }
}
@keyframes rotate-circl1 {
    to{
        transform: translateY(-50%) rotate(360deg);
    }
}
@keyframes rotate-circl2 {
    to{
        transform: translateX(50%) rotate(360deg);
    }
}
@keyframes rotate-circl3 {
    to{
        transform: translateY(50%) rotate(360deg);
    }
}

@keyframes rotate-circlother {
    to{
        transform: rotate(360deg);
    }
}